* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif;
  background-color: #f0f2f5;
}

#root {
  height: 100vh;
}

/* Ant Design Pro 布局高度修正 */
.ant-pro-layout {
  height: 100vh;
}
